:root {
  --primary-color: #7239ea;
  --primary-btn-bg: #7239ea;
  --primary-btn-active-bg: #621cfb;
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 20px;
  --font-xl: 24px;
}

.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
